.movies {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.inline {
  display: inline;
}

.radio-genre {
  display: inline-block;
  padding: 0px 15px;
}

.card-header {
  margin: 5px 0 0 0;
}

.card-image {
  padding: 0px;
  margin: auto;
}

.movie-card {
  padding: 3px;
  width: 220px;
  height: 400px;
  margin: 5px auto;
}

.card-btns {
    margin: auto;
}

.genre-filter {
    display: inline-block;
}